.about-section{
    position: relative;
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.78) 0%, rgba(8, 10, 11, 0.9) 67.7%), 
    url('../images/BackgroundAbout.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 15rem 10rem;
    border-bottom: .1rem solid var(--white);
    border-top: .1rem solid var(--primary);
    &__left{
        .line-separator{
            border: .2rem solid var(--primary);
            border-radius: 5rem;
            width: 71.15rem;
            position: absolute;
            transition: var(--default-transition);
            z-index: 6;
        }
        .text-container{
            width: 36.485rem;
            margin-left: auto;
        }
        .about-text-info{
            color: var(--white);
            font-size: 1.8rem;
            font-family: var(--secondery-font);
            margin-top: 3.5rem;
            line-height: 1.3;
            font-weight: 300;
            text-align: justify;
            margin-right: 1rem;
            .negrite{
                font-weight: 600;
            }
            .underline{
                position: relative;
                z-index: 1;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1rem;
                    background: var(--primary);
                    z-index: -1;
                }
            }
        }
    }
}

@keyframes zimmer_effect{
    from {
        width: 0;
    }to{
        width: 71.15rem;
    }
}


@media screen and (max-width: 1100px){
    .about-section{
        grid-template-columns: auto;
    }
}


@media screen and (max-width: 850px){
    .about-section{
        &__left{
            .line-separator{
                width: 51.15rem;
            }
          
        }
    }
}

@media screen and (max-width:640px){
    .about-section{
        padding: 5rem 5rem;
        &__left{
            .line-separator{
                width: 80%;
                right: 0;
            }
          
        }
    }
}

@media screen and (max-width: 500px){
    .about-section {
        padding: 5rem 1rem 5rem 5rem;
        &__left{
            .text-container{
                width: 100%;
                
            }
        }
    }
}