@import './Animation.scss';
header{
    background: radial-gradient(189.96% 61.18% at 50% 38.82%,
     rgba(255, 181, 72, 0) 0%, 
    rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), 
    url('../images/BackgroundHero-2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid var(--primary);
    //height: 96.0rem;
    transition: background-image 0.2s ease-in-out;
    animation-name: changeBg;
    animation-timing-function: linear;
    animation-duration: 17s;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


